<footer>
        <img src="./assets/img/logoredub.png" alt="Logo reducido blanco">
        <div class="conta">
            <a href="mailto:info@haudaproducciones.com">info@haudaproducciones.com</a>
            <div class="telf">
                <a href="tel://638622292">638 622 292</a><p> · </p><a href="tel://696308316">696 308 316</a>    
            </div>
            <p>&copy; 2017 HAUDA producciones</p>
        </div>
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/jquery.lazyload.js?v=1.9.1"></script>
    <script src="js/esconderMenus.js"></script>
    <script src="js/cambiaFoto.js"></script>
    <script src="js/mostrarMenuMovil.js"></script>
    <script type="text/javascript" charset="utf-8">
      $(function() {
         $("img.lazy").lazyload({
             effect : "fadeIn"
         }); 
      });
    </script>