<footer>
        <img src="/assets/img/logoredub.png" alt="Logo reducido blanco">
        <a href="/accesibilidad.html" class="acc" accesskey="a">Accesibilidad</a>
        <div class="conta">
            <a href="mailto:info@haudaproducciones.com">info@haudaproducciones.com</a>
            <div class="telf">
                <a href="tel://638522292">638 522 292</a><p> · </p><a href="tel://696308316">696 308 316</a>    
            </div>
            <p>&copy; 2017 HAUDA Producciones</p>
        </div>
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/jquery.lazyload.js?v=1.9.1"></script>
    <script src="js/esconderMenus.js"></script>
    <script src="js/cambiaFoto.js"></script>
    <script src="js/mostrarMenuMovil.js"></script>