.services {
    display: flex;
    width: 100%;
}

.servs {
    width: 100%;
    @media (max-width: 768px) {
        border-top: solid 0.5em $rosa;
    }
}

.servs article {
    font-family: robotoli;
    width: 95%;
    @include horizontal-margin(2.5%);
    margin-top: 1.5em;

    @media (min-width: 768px) {
        float: left;
        @include horizontal-margin(0);
        width: 50%;
    }

    h3 {
        font-family: robotoli;
        background-color: $rosa;
        color: $blanco;
        padding: 0.25em;
    }
}

.servs article:nth-of-type(even) {
    padding-right: 1.5em;
}

.servs article:nth-of-type(even) h3 {
    text-align: left;
    padding-left: 2em;
}

.servs article:nth-of-type(odd) {
    padding-left: 1.5em;
}

.servs article:nth-of-type(odd) h3 {
    text-align: right;
    padding-right: 2em;
}

.servs p {
    font-family: robotoli;
    padding-top: 2em;
    @include horizontal-padding(2.5em);
    text-align: justify;
    @media (min-width: 850px) {
        height: 11em;
    }
    @media (min-width: 1200px) {
        height: 9em;
    }
}

.foto-trabajo {
    display: flex;
    @include horizontal-padding(2.5em)
}

.servs img {
    max-height: 22.5em;
    margin: 0 auto;
    width: 100%;
    max-width: 544px;
    @media (max-width: 768px) {
        height: 15em;
    }
}

.servs a {
    display: block;
    margin-top: 2%;
    margin-left: 60%;
    color: $negro;
    font-family: robotoli;
    text-decoration: none;

    @media (min-width: 768px) {
        margin-left: 78%;    
    }
}

.servs article:last-child {
    margin-bottom: 1.5em;
}