.servs article {
    font-family: robotoli;
    float: left;
    width: 50%;
    margin-top: 1.5em;
}

.servs article:nth-of-type(even) {
    padding-right: 1.5em;
}

.servs article:nth-of-type(even) h3 {
    text-align: left;
    font-family: robotoli;
    padding: 0.25em;
    padding-left: 2em;
    background-color: $rosa;
    color: $blanco;
}

.servs article:nth-of-type(odd) {
    padding-left: 1.5em;
}

.servs article:nth-of-type(odd) h3 {
    text-align: right;
    font-family: robotoli;
    padding: 0.25em;
    padding-right: 2em;
    background-color: $rosa;
    color: $blanco;
}

.servs p {
    font-family: robotoli;
    padding: 2.5em;
    text-align: justify;
    height: 15em;
    @media (min-width: 850px) {
        height: 11em;
    }
    @media (min-width: 1200px) {
        height: 9em;
    }
}

.servs img {
    height: 22.5em;
    width: 100%;
    max-width: 650px;
    text-align: center;
    @include horizontal-padding(2.5em);
}

.servs a {
    color: $negro;
    font-family: robotoli;
    text-decoration: none;
    padding-left: 80%;
}

.servs article:last-child {
    margin-bottom: 1.5em;
}